.modal{
    margin-top: 25px;
    position: absolute;
    width: 560px;
    height: max-content;
    margin-left: 35%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
}

.modal-wrapper{
    height: 100vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

.modal-close{
    color: #3C4242;
    font-size: 22px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 92%;
    background-color: white;
    border: none;
    height: 22px;
    width: 22px;
}

.product-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #7F7F7F;
    text-align: center;
    margin-top: 35px;
}